
    <div id="inner-container">
        <h3>Would you like to receive push notifications?</h3>

        <div class='clear-margin'>
            <label class="topcoat-checkbox">
              <input type="checkbox" class="myonoffswitch" id="first_year"
                     <% if(first_year==1)print("checked"); %> >
              <div class="topcoat-checkbox__checkmark"></div>
              First Year Notifications
            </label>
        </div>
        
        <div class='clear-margin'>
            <label class="topcoat-checkbox">
              <input type="checkbox" class="myonoffswitch" id="second_year"
                     <% if(second_year==1)print("checked"); %> >
              <div class="topcoat-checkbox__checkmark"></div>
              Second Year Notifications
            </label>
        </div>
        
        <div class='clear-margin'>
            <label class="topcoat-checkbox">
              <input type="checkbox" class="myonoffswitch" id="third_year"
                     <% if(third_year==1)print("checked"); %> >
              <div class="topcoat-checkbox__checkmark"></div>
              Third Year Notifications
            </label>
        </div>
        
       <div class='clear-margin'>
            <label class="topcoat-checkbox">
              <input type="checkbox" class="myonoffswitch" id="fourth_year"
                     <% if(fourth_year==1)print("checked"); %> >
              <div class="topcoat-checkbox__checkmark"></div>
              Fourth Year Notifications
            </label>
        
       <div class='clear-margin'>
            <label class="topcoat-checkbox">
              <input type="checkbox" class="myonoffswitch" id="fifth_year"
                     <% if(fifth_year==1)print("checked"); %> >
              <div class="topcoat-checkbox__checkmark"></div>
              Fifth Year Notifications
            </label>
        </div>
        
           
        <div class='clear-margin'>
            <label class="topcoat-checkbox">
              <input type="checkbox" class="myonoffswitch" id="sixth_year"
                     <% if(sixth_year==1)print("checked"); %> >
              <div class="topcoat-checkbox__checkmark"></div>
              Sixth Year Notifications
            </label>
        </div>
        
        
        <div class='clear-margin'>
            <label class="topcoat-checkbox">
              <input type="checkbox" class="myonoffswitch" id="news"
                     <% if(news==1)print("checked"); %> >
              <div class="topcoat-checkbox__checkmark"></div>
              News Notifications
            </label>
        </div>
        
        <div class='clear-margin'>
            <label class="topcoat-checkbox">
              <input type="checkbox" class="myonoffswitch" id="sport"
                     <% if(sport==1)print("checked"); %> >
              <div class="topcoat-checkbox__checkmark"></div>
              Sports Notifications
            </label>
        </div>    
    </div>
